<?xml version="1.0" encoding="gbk"?>
<config>   

  <!-- 数据库配置-->
  <DataBase>192.168.1.70</DataBase>
  <DataBaseName>new_platform</DataBaseName>
  <UserName>root</UserName>
  <Passwd>root</Passwd>

<!--设置测试用例运行环境，为测试环境，准生产或生产-->
<environment>http://192.168.1.74:7070</environment>

<!-- 报告接收多个邮箱以“,”隔开-->
<mail>363701080@qq.com</mail>

<!--  指定Case等级Run  --> 	
 <Level>P0,P1,P2,P3,P4</Level>

  <!--  工作目录  -->
 <path>D:\TestSpace\</path>

  <!--  用例文件路径配置-->
<Templatepath>D:\TestSpace\Template\</Templatepath>
<Template>caiyun-new.xls</Template>

</config>
