<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ControlCenter" preserve-order="true">
  <test name="ControlCenter">
    <classes>
      <class name="ControlCenter.EntryDoor"/>
    </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->
